/node_modules
/vendor
public/img/fondo*
public/img/images/
public/img/users/
public/img/clientes/
public/img/tickets/
public/img/comentarios/
public/archivos/
public/img/categoriasproductos/
public/img/productos/
public/img/clientes/
public/img/proveedores/
public/img/conductores/
public/img/vehiculos/
public/img/pacientes/
public/img/inventarios/
public/img/logo-newton.png
public/img/logo.png
public/img/favicon.png
public/img/menu.jpg
public/img/menu2.jpg

public/css/override.css


/storage/app
storage/installed
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/backups
/storage/laravel-backups
/.idea
Homestead.json
Homestead.yaml
.env
/.vscode
/nbproject/private/
ftpsync.settings
laravel-echo-server.json
queue.json
pm2-echo.json
punto/
rastreo/
documentos/
web/
